body{
    font-family: "Oswald", sans-serif !important;
}
.content2{
    display: flex;
    flex-direction: column;
}
.head h6{
    padding: 5px;
}
.tag-items{
    display: flex;
    flex-wrap:wrap;
}
