.main img{
  width: 50%;
  margin-right: 45px;
}
.main{
    margin: 40px;
    display: flex;
   
}
.main .info-content button{
 background-color: black;
 color: white;
 padding: 10px;
 justify-content: end;
}
.main .info-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}