.content{
    width: 400px;
    box-shadow: 10px 10px 8px #888888;
    height: 500px;
}
.content .menu{
    width: 400px;
    height: 250px;
}
.content .info .author{
    display: flex;
    flex-direction: row;

}
.content .info{
    padding-inline: 15px;
}